*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: monserrate;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
}

.page1{
width: 100%;
height: 100%;
}

nav{
    width: 100%;
    height: 10%;
    background-color: rgb(19, 39, 43);
    display: flex;
    align-items: center;
    }

nav > h1{
margin: 3%;
padding: 50px;
color: white;
}    

nav > a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(204, 194, 194);
    margin-right: 3%;
}

nav > button{
    padding: 10px 30px;
    border-radius: 5%;
    margin: 50%;
    background-color: rgb(94, 151, 179);
    border-radius: 10px;
}


.mid1{
    width: 100%;
height: 100%;
display: flex;
}

.mid1 > .left{
    width: 30%;
margin-top: 10%;
margin-left: 10%;
} 

.left > h1{
    font-size: 75px;

}

.left > p{
    font-size: 20px;
    color: #373636;

}

.left> button{
margin-top: 30px;
padding: 10px 30px;
border-radius: 5px;
margin-right: 15px;
background-color: #373636;
color: wheat;

}

button:hover{

    background-color: #6b4545;
    color:rgb(228, 225, 230);
}
 
.right{
    width: 50%;
    
    
}

.right > .img{
    width: 110%;
    height: 70%;
    margin-top: 8%;
  
    background-image:url(./assest/11088675.png);
  
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}


.con{
    width: 100%;
    height: 25%;
    background-color: rgb(201, 234, 248);
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
font-size: 25px;
color: rgb(10, 19, 10);

}

.page2{
width: 100%;
height: 100%;
display: flex;

}

.page2 > .left2{
width: 50%;
height: 100%;
margin-left: 10%;
}

.left2 > .img2{
width: 70%;
height: 70%;
margin-top: 15%;

background:url(./assest/mikita-yo-VpKOiv_6Q1s-unsplash.jpg) ;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
border-radius: 2%;
}


.page2 > .right2{
    width: 50%;
    height: 70%;
    margin-left: 10%;  
}

.right2{
    margin-top: 5%;
    margin-right: 10%;
}

.right2>h1{
    margin-top: 10%;
    font-size: 70px;
}

.right2>p{
margin-top: 2%;
    font-size: 25px;
    font-weight: 100;
}

.right2 > button{
padding: 20px 40px;
background-color: #373636;
color: wheat;
margin-top: 5%;
border-radius: 5px;
}

.right2 > .p2{
margin-top: 5%;
font-size: 20px;
    font-weight: 100;
    /* color: ; */
}


.con2{
    width: 80%;
    height: 40%;
    background:url(./assest/rick-rothenberg-AWfnhPlNGnM-unsplash.jpg);
  margin-left: 10%;
  display: flex;
color: white;
background-size:auto ;

}

.con2 > .left3{
width: 30%;
margin-left: 10%;

} 
.left3 >h1{
    font-size: 50px;
    margin-top: 10%;

}

.con2 > .right3{
    width: 40%;
margin-left: 5%;

}

.right3 > input{
    margin-top: 3%;
border-radius: 5px;
color: black;

}

input[name = text]{
    margin-top: 8%;
}

input[ type = text]{
    
    width: 80%;
    height: 10%;
margin-left: 70px;

}

.right3 >button{
    width: 150px;
height: 50px;
margin-left: 70px;
margin-top: 10px;
border-radius: 5px;
color: wheat;
background-color: #373636;
margin-top: 3%;
} 


